{# templates/core/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Hello CoreController!{% endblock %}

{% block body %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h2 class="text-center">Liste des évenements</h2>
        </div>
    </div>

        <div class="row">
            <div class="d-flex flex-row flex-wrap">
                <div class="card m-2" style="width: 16rem;">
                    <div class="card-body">
                        {% for evenements in evenements %}
                            <h3 class="card-title">
                                {{ evenements.id}} - {{ evenements.name}}<br>
                            </h3>
                            <h5>
                                {{ evenements.date|date('d/m/Y') }}<br>
                                {{ evenements.duration|date("%dj %Hh:%Imin") }}
                            </h5>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}
    {% endblock %}
