

{% extends "base.html.twig" %}

{% block title %}{{ parent() }} | Ajouter un évenement{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div>
                <h4>Ajout d'un évenement</h4>
            </div>
        </div>
        {% include "evenement/evenement_form.html.twig" %}
    </div>
{% endblock %}